body{
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Jost', sans-serif;
}
.logoAndName{
    display: flex;
    flex-direction: row;
    margin-right: 467px;
}
header{
    margin: 34px 120px 0px 80px;
}
.logoAndName h1{
    margin-top: -7px;
    margin-left: 11px;
    font-size: 40px;
}
header{
    display: flex;
    flex-direction: row;
}
header a{
    text-decoration: none;
    color: #292F36;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-top: 19px;
}
.menu a{
    margin-left: 40px;
    white-space: nowrap;
}
.suretAndText{
    display: flex;
    flex-direction: column;
    background-image: url("img/IMAGE.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
}
.dauSozder{
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
.kiwiSozder{
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}
.getButton{
    width: 207px;
    height: 71px;
    background-color: #292F36;
    border-radius: 10px;
    margin-top: 10px;
}
.getButton a{
    text-decoration: none;
    color: #FFFFFF;
}
.getButton .sss{
    padding-top: 22px;
    margin-left: 50px;
}
.dauSozder #lets{
    margin-bottom: -50px;
}
.kiwiSozder #the{
    margin-bottom: -10px;
}
.sozder{
    margin-top: 100px;
    margin-left: 80px;
}
.birinwi{
    width: 320px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}
.birinwi .birinwiP{
    margin-top: 50px;
}
.uwZat{
    display: flex;
    flex-direction: row;
}
.uwZat > div{
    margin-right: 40px;
}
.information{
    margin-top: 120px;
    margin-left: 100px;
}
.suretIwe{
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}
.theMost{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.we{
    width: 400px;
    height: 100px;
    font-size: 20px;
}
.ekiSozder{
    width: 440px;
    height: 70px;
    font-size: 20px;
    padding-top: 50px;
}
.telephone{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.nomer{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-left: 20px;
}
.nomer #nomerID{
    margin-bottom: -20px;
}
.otzyv{
    margin-left: 120px;
    width: 1052px;
    height: 500px;
    background-color: #F4F0EC;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 200px;
}
.pepop{
    margin-top: 50px;
    margin-bottom: -50px;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: row;
}
.nom1{
    width: 300px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.otzyv img{
    width: 50px;
    height: 50px;
}
.ava{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    padding-top: 50px;
}
.lia{
    display: flex;
    flex-direction: column;
    margin-top: -17px;
    margin-left: 20px;
}
.lia h3{
    margin-bottom: -15px;
}
.avaSoz{
    width: 250px;
    height: 100px;
    text-align: start;
    margin-left: 25px;
}
.nom1{
    margin-right: 20px;
}
.cards{
    margin-left: 55px;
    margin-top: 80px;
}
footer{
    display: flex;
    flex-direction: row;
}
footer .mmm{
    width: 300px;
    height: 50px;
    margin-left: -47px;
}
footer .contact p{
    margin-left: 0px;
}
footer .contact{
    margin-top: -30px;
    margin-left: -20px;

}
.bir{
    margin-left: 100px;
}
.mmm p{
    padding-left: 44px;
}.tim{
     display: flex;
 }
.tim li{
    width: 140px;
    list-style: none;
    background: #FFFFFF;;
    position: relative;
}
.tim a{
    color: #292F36;
    text-decoration: none;
    display: block;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}
.tim ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}
.tim li:hover ul{
    display: block;
}
.tim{
    margin-top: -7px;
    margin-left: -25px;
    margin-right: -100px;
}
#rrr{
    margin-left: -60px;
}
.anima{
    transform: translate(0px,200% );
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.anima._active{
    transform: translate(0px, 0px);
    opacity: 1;
}